.form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.form__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
}

.form__submit {
    text-align: center;
}

.form__message {
    color: white;
    padding: 12px 8px;
    border-radius: 8px;
}

.form__message--hidden {
    display: none;
}

.form__message--success {
    background-color: seagreen;
}

.form__message--fail {
    background-color: firebrick;
}